.header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;

  display: flex;
  justify-content: start;
}

.logo {
  padding: 10px;
  height: 50px;
}

button {
  background-color: grey;
  color: white;
  padding: 10px 50px;
  margin: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: black;
}

.btn {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}
